[Sunpinyin]
# 使用双拼而不是全拼
UseShuangpin=False
# Sunpinyin的双拼方案
ShuangpinSchema=MS2003
# 模糊切分
FuzzySegmentation=False
# 支持内模糊音节 (xian->xi'an)
FuzzyInnerSegmentation=True

[QuanPin]
# 模糊zhi/zi
FuzzyZhiZi=True
# 模糊chi/ci
FuzzyChiCi=True
# 模糊shi/si
FuzzyShiSi=True
# 模糊an/ang
FuzzyAnAng=False
# 模糊on/ong
FuzzyOnOng=False
# 模糊en/eng
FuzzyEnEng=False
# 模糊in/ing
FuzzyInIng=True
# 模糊eng/ong
FuzzyEngOng=False
# 模糊ian/iang
FuzzyIanIang=False
# 模糊uan/uang
FuzzyUanUang=False
# 模糊n/l
FuzzyNeLe=False
# 模糊f/h
FuzzyFoHe=False
# 模糊l/r
FuzzyLeRi=False
# 模糊k/g
FuzzyKeGe=False
# 自动更正ign/ing
AutoCorrectingIgnIng=True
# 自动更正ogn/ong
AutoCorrectingOgnOng=True
# 自动更正uen/un
AutoCorrectingUenUn=True
# 自动更正img/ing
AutoCorrectingImgIng=True
# 自动更正iou/iu
AutoCorrectingIouIu=True
# 自动更正uei/ui
AutoCorrectingUeiUi=True

