[alias]
	last = cat-file commit HEAD
	li = log --graph --oneline --all
	st = status
	co = checkout
	ci = commit
[user]
	name = pylemon
	email = leeway1985@gmail.com
[color]
	status = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	ui = auto
