[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "_config/awesome_powerline35"]
	path = _config/awesome_powerline35
	url = https://github.com/esn89/powerarrow.git
