[ClassicUI]
# Main Window Position X
MainWindowOffsetX=1144
# Main Window Position Y
MainWindowOffsetY=770
# Font Size
FontSize=9
# Font
Font=微软雅黑Monaco
# Menu Font
MenuFont=微软雅黑Monaco
# Font Locale to display
FontLocale=zh_CN.UTF-8
# Use System Tray Icon
# Available Value:
# True False
UseTray=True
# Main Window Hide Mode
# Available Value:
# Show Auto Hide
MainWindowHideMode=Auto
# Vertical Candidate Word List
# Available Value:
# True False
VerticalList=False
# Skin Name
SkinType=sogou

